<div *ngIf="film">
  <div class="best-movie-body">
    <div class="panel panel__panel-main">
      <!-- Panel header with TITLE (YEAR) -->
      <div class="panel-header panel-main__panel-header" (click)="hide = !hide">
        <h5> {{film.title}} ({{film.year}}) </h5>
      </div>
      <!-- Panel body with the film info-->
      <div class="panel-body panel-main__panel-body" *ngIf="!hide">
        <!-- Movie poster as a link to IMDB-->
        <div class="panel-body__movie-poster">
          <a href="http://www.imdb.com/title/tt{{film.alternate_ids.imdb}}" target="_blank">
            <img [src]="film.posters.original" alt="poster" class="img-responsive" />
          </a>
        </div>
        <!-- Description, Actor list and Ratings-->
        <div class="panel-body__film-body">
          <!-- Description -->
          <div class="film-body__movie-synopsis">
            <p>
              {{film.synopsis}}
            </p>
          </div>
          <!-- Actor list as links to another page-->
          <div class="film-body__movie-actors">
            <h5>Actors:</h5>
            <ul>
              <li><a routerLink="/actors" [queryParams]="{name: film.abridged_cast[0].name}" target="_blank" >{{film.abridged_cast[0].name}}</a>, </li>
              <li><a routerLink="/actors" [queryParams]="{name: film.abridged_cast[1].name}" target="_blank" >{{film.abridged_cast[1].name}}</a>, </li>
              <li><a routerLink="/actors" [queryParams]="{name: film.abridged_cast[2].name}" target="_blank" >{{film.abridged_cast[2].name}}</a>, </li>
              <li><a routerLink="/actors" [queryParams]="{name: film.abridged_cast[3].name}" target="_blank" >{{film.abridged_cast[3].name}}</a>, </li>
              <li><a routerLink="/actors" [queryParams]="{name: film.abridged_cast[4].name}" target="_blank" >{{film.abridged_cast[4].name}}</a>, </li>
              <li>...</li>
            </ul>
          </div>
          <!-- Ratings -->
          <div class="film-body__film-rating">
            <h5>Rating:</h5>
            <div>
              <!-- Critics_score -->
              <span>
                <i class="fa fa-star"></i>
                <span> {{film.ratings.critics_score}} </span>
              </span>
              <span>&nbsp;/&nbsp;</span>
              <!-- Audience_score-->
              <span>
                <i class="fa fa-smile-o"></i>
                <span> {{film.ratings.audience_score}} </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
