// Main colors
$blue-color: #0060a9;
$green-color: #c5c800;

.best-movie-body {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  & > .panel__panel-main {
    margin-bottom: 20px;

    // Panel header
    & > .panel-main__panel-header {
      background-color: $blue-color;
      padding: 5px;

      // Film title with year
      & > h5 {
        color: #FFFFFF;
        margin: 10px;

        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }

    // Body to hide and show
    & > .panel-main__panel-body {
      background-color: #FFFFFF;
      border: 5px solid $blue-color;
      padding: 15px;
      display: flex;

      // Movie poster
      & > .panel-body__movie-poster {
        width: 30%;
        margin-right: 20px;

        & > a {
          height: 100%;
          display: flex;

          & > img {
            margin: auto;
            width: 150px;
            height: 225px;
            border-radius: 10%;
            border: 2px solid #000000;
          }
        }
      }

      // Description + Actors + Rating
      & > .panel-body__film-body {

        // Movie description
        & > .film-body__movie-synopsis > p {
          font-style: italic;
          text-align: justify;
        }

        // Movie actors list
        & > .film-body__movie-actors {
          display: inline-block;
          width: 60%;

          & > h5 {
            text-align: center;
          }

          & > ul {
            text-align: center;
            padding-left: 0;

            & > li {
              display: inline;

              & > a {
                color: #000000;
              }

              & > a:hover {
                text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
              }
            }
          }
        }

        // Movie ratings
        & > .film-body__film-rating {
          float: right;
          width: 40%;

          & > h5 {
            text-align: center;
          }

          & > div {
            text-align: center;
          }
        }
      }
    }
  }
}

/**
Tablet and mobile devices
Poster as a block with full width
Decrease font-size
 */
@media screen and (max-width: 812px) {
  .best-movie-body > .panel__panel-main > .panel-main__panel-body {
    display: block;

    & > .panel-body__movie-poster {
      width: 100%;
      margin-bottom: 20px;
    }

    & > .panel-body__film-body {
      font-size: 0.75em;
    }
  }
}
