// Main colors
$blue-color: #0060a9;
$green-color: #c5c800;

.view-all-movies-body {
  // Header with the button
  & > .body__header {
    & > h1 {
      display: inline-block;
    }

    // Dropdown button
    & > .d-inline-block {
      float: right;
      font-size: 1.25em;

      // Dropdown menu
      & > .dropdown-menu {
        min-width: 134px;
        margin-top: -3px;
        border: 2px solid $blue-color;
        border-radius: 0;
        padding: 0;

        // Every item on dropdown menu
        & > .dropdown-item {
          padding: 0 0 0 5px;
          color: $blue-color;

          &:hover {
            background-color: $blue-color;
            color: #FFFFFF;
            opacity: 0.5;
            cursor: pointer;
          }
        }
      }
    }
  }

  // Table with films
  & > .body__table {
    width: 100%;

    // Split into columns 5%-X-10%-10%-10%-10%
    & > colgroup {
      .table__row--ten {
        width: 10%;
      }

      .table__row--five {
        width: 5%;
      }
    }

    // Table row
    & > tbody {
      & > tr {
        // Row with headers
        & > th {
          text-align: center;
          border-bottom: 2px solid #000000;
          padding: 5px;
        }

        // Rows with films
        & > td {
          text-align: center;
          border-bottom: 1px solid #000000;
          padding: 5px;

          // Each name is a link to the IMDB.com
          & > a {
            color: #000000;

            &:hover {
              text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
            }
          }

          // Button in the last column (SHOW actors)
          .td-actor__button {
            background-color: transparent;
            border: 0;
          }
        }

        // Align the second column ( NAME ) to the left
        :nth-child(2) {
          text-align: left;
        }

        // Hidden actors row
        .table__td-all-actors {
          background-color: $blue-color;
          border-right: 1px solid #000000;
          border-left: 1px solid #000000;

          // Every actor
          & > a {
            color: #FFFFFF;
            text-align: center;
            display: inline-block;
            width: 19%;

            &:hover {
              text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
            }
          }
        }

        // Change the style for the button in the last column if the row is opened
        & > .table__td-actor--show {
          background-color: $blue-color;
          border: 1px solid #000000;
          border-bottom-color: $blue-color;

          & > button {
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

/**
Display header and dropdown button on whole device width
Center the dropdown menu items
Decrease table font-size
Display every hidden actor as a block
 */
@media screen and (max-width: 425px) {
  .view-all-movies-body {
    & > .body__header {
      & > h1 {
        display: block;
        text-align: center;
      }

      & > .d-inline-block {
        float: none;
        width: 100%;

        & > button {
          width: 100%;
        }

        & > .dropdown-menu {
          min-width: 100%;

          & > .dropdown-item {
            text-align: center;
          }
        }
      }
    }

    & > .body__table {
      font-size: 0.7em;

      & > tbody > tr > .table__td-all-actors > a {
        display: block;
        width: 100%;
      }
    }
  }
}
