<div class="view-all-movies-body">
  <!-- Header with sort button-->
  <div class="body__header">
    <h1> View all Movies: </h1>
    <!-- Dropdown button -->
    <div ngbDropdown class="d-inline-block">
      <button class="button--custom" id="dropdownBasic" ngbDropdownToggle>Sort films</button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic">
        <button class="dropdown-item" (click)="toggleSort('title')">Title</button>
        <button class="dropdown-item" (click)="toggleSort('year')">Year</button>
        <button class="dropdown-item" (click)="toggleSort('critics_score')">Critics</button>
        <button class="dropdown-item" (click)="toggleSort('audience_score')">Users</button>
      </div>
    </div>
  </div>
  <!-- Table with films-->
  <table class="body__table">
    <!-- Columns 5%-X-10%-10%-10%-10% -->
    <colgroup>
      <col class="table__row--five" />
      <col />
      <col class="table__row--ten" />
      <col class="table__row--ten" />
      <col class="table__row--ten" />
      <col class="table__row--ten" />
    </colgroup>
    <tbody>
      <tr>
        <th> # </th>
        <th> Names </th>
        <th> Year </th>
        <th> Critics </th>
        <th> User </th>
        <th> Actors </th>
      </tr>
      <!-- Every film has two rows-->
      <ng-container *ngFor="let film of films; let i = index">
        <!-- Row with film info -->
        <tr>
          <td> {{i + 1}} </td>
          <td> <a href="http://www.imdb.com/title/tt{{film.alternate_ids.imdb}}" target="_blank"> {{film.title}} </a></td>
          <td> {{film.year}} </td>
          <td> {{film.ratings.critics_score}} </td>
          <td> {{film.ratings.audience_score}} </td>
          <!-- Button in the last column to open the actor row-->
          <td [class.table__td-actor--show]="!hideActors[i]" >
            <button class="td-actor__button" (click)="toggleRow(i)">
              <i [ngClass]="(hideActors[i])?'fa fa-chevron-down':'fa fa-chevron-up'"></i>
            </button>
          </td>
        </tr>
        <!-- Hidden row with all actors -->
        <tr [hidden]="hideActors[i]">
          <td colSpan="6" class='table__td-all-actors'>
            <a routerLink="/actors" [queryParams]="{name: film.abridged_cast[0].name}" target="_blank" >{{film.abridged_cast[0].name}}</a>
            <a routerLink="/actors" [queryParams]="{name: film.abridged_cast[1].name}" target="_blank" >{{film.abridged_cast[1].name}}</a>
            <a routerLink="/actors" [queryParams]="{name: film.abridged_cast[2].name}" target="_blank" >{{film.abridged_cast[2].name}}</a>
            <a routerLink="/actors" [queryParams]="{name: film.abridged_cast[3].name}" target="_blank" >{{film.abridged_cast[3].name}}</a>
            <a routerLink="/actors" [queryParams]="{name: film.abridged_cast[4].name}" target="_blank" >{{film.abridged_cast[4].name}}</a>
          </td>
        </tr>
      </ng-container>
      <!-- Error if no films -->
      <tr *ngIf="!films && error">
        <td colSpan="6">
          <h6>{{error}}</h6>
        </td>
      </tr>
    </tbody>
  </table>
</div>
