// Main colors
$blue-color: #0060a9;
$green-color: #c5c800;

// absolute + bottom => stay on the bottom
.footer-body {
  width: 100%;
  background-color: $blue-color;
  border-top: 5px solid #ffffff;
  position: absolute;
  bottom: 0;

  & > h5 {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-weight: 500;
  }
}
