// Main colors
$blue-color: #0060a9;
$green-color: #c5c800;

.actor-list-body {
  // Input form
  & > .body__input {
    width: 100%;
    max-width: 712px;
    padding: 5px;
    margin-bottom: 15px;
  }

  & > div {
    // Container with the actor list and film container
    width: 100%;
    max-width: 712px;

    & > .body__list--actors {
      width: 60%;
      display: inline-block;
      margin: 0;
      padding: 0;

      & > button {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #FFFFFF;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    & > .body__list--films {
      width: calc(40% - 10px);
      float: right;
      background-color: #FFFFFF;
      border: 2px solid $blue-color;

      & > a {
        display: block;
        text-align: center;
        color: $blue-color;
        padding: 5px 0;
        border: 0.5px solid $blue-color;

        &:hover {
          background-color: $blue-color;
          opacity: 0.7;
          color: #FFFFFF;
        }

      }
    }

    // stick if scrolled over 250 units
    // left: margin-left + actor container width + 10px
    // width: 712px * 40% - 10px
    & > .body__list--sticky {
      position: fixed;
      top: 10px;
      left: calc(50px + 712px*0.6 + 10px);
      width: calc(712px*0.4 - 10px);
    }
  }
}

/**
Change fixed position for tablet and mobile devices
right = margin-right (tablets: 50px, mobile: 20px)
width: (100% screen - margin right - margin left) * 0.4 - 10px
 */
@media screen and (max-width: 425px) {
  .actor-list-body > div > .body__list--sticky {
    right: 20px;
    left: unset;
    width: calc((100% - 40px)*0.4 - 10px);
  }
}

@media screen and (max-width: 812px) {
  .actor-list-body > div > .body__list--sticky {
    right: 50px;
    left: unset;
    width: calc((100% - 100px)*0.4 - 10px);
  }
}
