<div class="actor-list-body">
  <h1> Show all actors: </h1>
  <input
    type="text"
    placeholder="Enter an actor name"
    class="body__input"
    [(ngModel)]="actorValue"
    (keyup)="this.handleActorChange($event.target.value)"
  />
  <div>
    <!-- Buttons with actors -->
    <div class="body__list--actors" *ngIf="filteredActors">
      <button class="button--custom" *ngFor="let actor of filteredActors" (click)="this.getFilmsWithActor(actor)"> {{actor}} </button>
    </div>
    <!-- No actors found -->
    <h6 *ngIf="!filteredActors && error">{{error}}</h6>
    <!-- List of films with this actor. Sticky if scrolled. Error if error. -->
    <div [ngClass]="{ 'body__list--sticky': stickyFilms, 'body__list--films': true }" [hidden]="!(filteredActors && (films || error))">
      <!-- Films -->
      <ng-container *ngIf="films && !error" >
        <a *ngFor="let film of films" href="http://www.imdb.com/title/tt{{film['link']}}" target="_blank"> {{film['title']}} </a>
      </ng-container>
      <!-- Error -->
      <p *ngIf="!films && error">{{error}}</p>
    </div>
  </div>
</div>
<p></p>
