// Main colors
$blue-color: #0060a9;
$green-color: #c5c800;

.add-new-film-body {

  // Alerts
  & > .body__alert {
    padding: 20px 20px 1px 20px;
    opacity: 0.7;
    color: #FFFFFF;
  }

  & > .alert--info {
    background-color: $blue-color;
  }

  & > .alert--error {
    background-color: red;
  }

  & > .alert--success {
    background-color: yellow;
    color: #000000;
  }

  & > form {
    padding: 15px 0;

    // Labels for inputs and textarea
    & > .body__label {
      width: 170px;
      font-size: 1.25em;
    }

    & > .label--textarea {
      display: block;
    }

    // Input forms
    // Input: 100% - label - icon - border, Textarea: 100% - icon - border
    & > .body__input {
      width: calc(100% - 205px);
      max-width: 350px;
      padding: 5px;
      margin-bottom: 10px;
    }

    & > .body__textarea {
      resize: none;
      width: calc(100% - 31px);
      max-width: 525px;
      height: 150px;
      padding: 5px;
    }

    // Icons (last for textarea)
    & > .body__icon {
      padding: 5px;
    }

    & > .body__icon--last {
      vertical-align: top;
    }
  }

  // make buttons bigger
  & > button,
  & > form > button {
    font-size: 1.5em;
  }
}

/**
Mobile
Decrease font-size
Label first, then input + icon
Input 89% + icon = 100% width
 */
@media screen and (max-width: 425px) {
  .add-new-film-body {
    // Alerts
    & > .body__alert {
      & > p,
      & > p > a {
        font-size: 0.75rem;
      }
    }

    & > form > .body__input,
    & > form > .body__textarea {
      width: 87%;
    }
  }
}

/**
Mobile in landscape + Tablets
Label + input + icon = 100%
 */
@media screen and (max-width: 812px) {
  .add-new-film-body > form {
    & > .body__input,
    & > .body__textarea {
      max-width: none;
    }
  }
}
