<div class="add-new-film-body">
  <h1> Add new film</h1>
  <h6> NOTE: All fields are compulsory fields and have to be completed </h6>
  <!-- Choose between INFO, ERROR, SUCCESS -->
  <div class="body__alert alert--{{alertType}}" [ngSwitch]="alertType">
    <ng-container *ngSwitchCase="'info'">
      <strong>Info!</strong> <br />
      <p>
        1) Go to IMDB.com (<a href="http://www.imdb.com"> click </a>) and find your film there<br />
        2) Set the title, year, critics rating and user rating ( both 0-100 )<br />
        3) For the &quot;film link&quot; check the URL of your film and copy only film id after &quot;tt&quot;, e.g. 0111161<br />
        4) On your film page, right click on the poster and choose &quot;open image in new tab&quot; <br />
        5) Copy the URL to the poster link <br />
        6) Add five main stars, playing in this movie ( check for cases please )<br />
        7) Add a storyline of your film, which you can find on it&apos;s page <br />
        8) Click &quot;Submit&quot; button when you are done!
      </p>
    </ng-container>
    <ng-container *ngSwitchCase="'error'">
      <strong>Error!</strong> <br />
      <p>
        {{serverMessage}}
      </p>
    </ng-container>
    <ng-container *ngSwitchCase="'success'">
      <strong>Success!</strong> <br />
      <p>
        {{serverMessage}}
      </p>
    </ng-container>
  </div>
  <!-- Form group -->
  <form (ngSubmit)="submitInput()" #filmForm="ngForm">
    <!-- Inputs -->
    <ng-container *ngFor="let film of inputForms">
      <label class="body__label"> {{film.label}}: </label>
      <input
        class="body__input"
        [type]="film.type"
        required
        [placeholder]="film.placeholder"
        [(ngModel)]="filmData[film.id]"
        [name]="film.id"
        autocomplete="off"
        appValidator="{{film.id}}"
        #this_id="ngModel" />
      <i class="fa body__icon" [ngClass]="{'fa-times': this_id.invalid, 'fa-check': this_id.valid }"> </i>
      <br />
    </ng-container>
    <!-- Description textarea -->
    <label class="body__label label--textarea"> Description: </label>
    <textarea
      class="body__textarea"
      required
      placeholder="min 200 characters"
      [(ngModel)]="filmData['synopsis']"
      autocomplete="off"
      name="desc"
      appValidator="desc"
      #this_desc="ngModel"></textarea>
    <i class="fa body__icon body__icon--last" [ngClass]="{'fa-times': this_desc.invalid, 'fa-check': this_desc.valid }"> </i>
    <br />
    <!-- Submit button (Disabled if not all forms are valid) -->
    <button class="button--custom" type="submit" [disabled]="filmForm.form.invalid">Submit</button>
  </form>
  <!-- Button to set test input -->
  <button class="button--custom" (click)="setTestInput()">TEST</button>
</div>
