<div class="nav-bar-body">
  <!-- Header with FILMS.de-->
  <div class="body__header">
    <h3>
      FILMS.de
    </h3>
  </div>
  <!-- Navigation bar-->
  <div class="body__main">
    <!-- HOME link -->
    <div class="main__header">
      <a href="/">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <!-- Navigation menu -->
    <div class="main__body">
      <!-- Films dropdown button -->
      <div ngbDropdown class="d-inline-block">
        <button class="body__dropdown--button button--custom" id="dropdownBasic" ngbDropdownToggle>Films</button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic">
          <a class="dropdown-item" routerLink="/topfilms">Top movies</a>
          <a class="dropdown-item" routerLink="/viewallmovies">View all</a>
          <a class="dropdown-item" routerLink="/addnewfilm">Add new film</a>
        </div>
      </div>
      <!-- Actors link -->
      <a routerLink="/actors">Actors</a>
    </div>
  </div>
</div>
