<div class="app-body">
  <!-- Navigation Bar -->
  <app-navbar></app-navbar>
  <!-- Main content -->
  <div class="body__main-cont">
    <router-outlet></router-outlet>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
</div>
