// Main colors
$blue-color: #0060a9;
$green-color: #c5c800;

// relative + padding-bootom => footer always downstairs
.app-body{
  position: relative;
  padding-bottom: 70px;

  // min-height => always take full page space (min)
  & > .body__main-cont {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to($blue-color));
    background: linear-gradient(#FFFFFF, $blue-color);
    padding: 50px;
    min-height: 86vh;
    position: relative;

    // decrease padding for small devices
    @media screen and (max-width: 425px) {
      & {
        padding: 20px;
      }
    }
  }
}
