// Main colors
$blue-color: #0060a9;
$green-color: #c5c800;

.top-movies-body {
  // Buttons to toggle rating (critics / user)
  & > h1 > .body__button--sort {
    float: right;
    margin: 2.5px 5px;
    font-size: 0.75em;

    &:focus {
      background-color: $blue-color;
      color: #FFFFFF;
    }

    @media screen and (max-width: 425px) {
      & {
        float: none;
        width: calc(50% - 5px);
        margin: 0;
      }
    }
  }
}
