<div class="top-movies-body">
  <h1>Best movies:
    <!-- Sort button with smiley to sort on "audience_score" -->
    <button class="button--custom body__button--sort" (click)="toggleSort('audience_score')">
      <span><i class="fa fa-smile-o"></i></span>
    </button>
    <!-- Sort button with smiley to sort on "critics_score" -->
    <button class="button--custom body__button--sort" (click)="toggleSort('critics_score')">
      <span><i class="fa fa-star"></i></span>
    </button>
  </h1>
  <!-- Panels with all films-->
  <app-top-movies-item *ngFor="let film of films; let i = index" [film]="film" [index]="i"></app-top-movies-item>
  <!-- Error if no films -->
  <h6 *ngIf="!films && error">{{error}}</h6>
</div>
