// Main colors
$blue-color: #0060a9;
$green-color: #c5c800;

// To use "font-awesome" change the variables path
$fa-font-path:   "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@font-face {
  font-family: Exxcellent;
  src: url('./assets/pfdintextpro-light.woff');
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  font-family: Exxcellent, "Times New Roman", serif;
  margin: 0;
}

// Bootstrap 2.5rem is too much
h1 {
  font-size: 2em;
}

// remove spinners on number input
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer !important;

  &:hover, &:focus {
    text-decoration: none;
    color: #FFFFFF;
  }
}

button {
  outline: 0 !important;
  cursor: pointer !important;
}

.button--custom {
  background-color: $blue-color;
  border-radius: 0;
  border: 2px solid $blue-color !important;
  color: #FFFFFF;
  outline: 0 !important;

  &:hover, &:focus, &:active:hover {
    background-color: #FFFFFF;
    color: $blue-color;
  }
}

.button--custom[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
}
